
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mitr&display=swap');
/*
computer: @media screen and (min-width: 1024px) {}

tablet @media screen and (min-width: 768px) and (max-width: 1023px) {}

celular @media screen and (mmax-width: 767px) {}
*/

body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--cor1);
}
header h1 {
  font-family: 'Mitr', sans-serif;
}
:root {
  --cor1: #FFFF9F;
  --cor2: #112B38;
  --cor3: #131B1F;
  --cor4: #21526B;
  --cor5: #FFA700;
}
header {
  background-color: #FFBA1F;
  color: black;
  text-align: center;
  padding: 2rem;
}
.Catalogo {
  text-align: center;
} 
#ItensNoCarrinho{
  display: none;
}
div h2{
  overflow: hidden; /* Evita que o conteúdo derrame para fora */
  text-overflow: ellipsis; /* Adicione reticências (...) se o conteúdo for cortado */
  white-space: nowrap; /* Evita que o texto quebre em várias linhas *//
}
button {
  background-color: var(--cor2);
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

section.Catalogo div.produtos {
  min-width: 130px;
  display: inline-block;
  padding: 20px 10px;
  text-align: center;
  border-radius: 15px;
  background-color: var(--cor5);
  box-shadow: 1px 1px 1px black;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;

  overflow: hidden; /* Evita que o conteúdo derrame para fora */
  text-overflow: ellipsis; /* Adicione reticências (...) se o conteúdo for cortado */
  white-space: nowrap; /* Evita que o texto quebre em várias linhas *//
}
p {
  color: var(--cor3)
}
#SeVazio {
  color: red;
  display: none;
  margin: 0px;
}
#BarraPesquisa {
  display: block;
  width: 83%;
  margin: auto;
  margin-bottom: 10px;
  height: 40px;
  line-height: 40px;
  padding-left: 25px;
  border-radius: 35px;
  border: none;
  color: black;
}
ul#ItensNoCarrinho li button {
  border-radius: 5px;
}
@media screen and (min-width: 768px) {
  
  main {
    margin: 0px;
    padding: 2rem;
    background-color: var(--cor1);
    padding-top: 15px;
  }
  .produtos{ 
    width: 30%;
  }
  header img {
    width: 5%;
  }
  #Carrinho {
    position: fixed;
    height: auto;
    max-height: 88vh;
    right: 5px;
    bottom: 40px;
    width: 450px;
    background-color: var(--cor3);
    border-radius: 30px;
    padding: 1rem;
    color:white;
    overflow-y: scroll;
  }
  #BotãoMostrar{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #BotãoFechar {
    display: none;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  #TotalCarrinho {
    color: white;
    text-decoration: double;
  }
  #checkout {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
  }
  .remove-item {
    border-radius: 0px;
    border: 1px black solid;
  }
  section div.produtos img {
    width: 85%;
    height: 65%;
    border-radius: 15px;
    box-shadow: inset 1px 1px 1px black;
  }
  footer {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  main {
    background-color: var(--cor1);
    padding-top: 15px;
  }
  .produtos{
    width: 40%;
  }
  header img {
    width: 15vw;
  }
  h2, p{
    font-size: small;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  #Carrinho {
    position: fixed;
    height: auto;
    max-height: 65vh;
    width: 100vw;
    background-color: var(--cor3);
    color:white;
    overflow-y: auto;
    bottom: 0px;
    padding: 15px;
  }
  #BotãoFechar {
    display: none;
  }
  #TotalCarrinho {
    color: white;
  }
  .remove-item {
    border-radius: 5px;
    border: 1px black solid;
  }
  section div.produtos img {
    max-width: 150px;
    height: 150px;
    border-radius: 15px;
    box-shadow: inset 1px 1px 1px black;
  }
  footer {
    height: 150px;
  }
}